*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: white;
    color: black;
    font-size: 15px;
    line-height: 1.5;
}
a{
    color: #262625;
    text-decoration: none;
}
a:hover{
    border-bottom: 2px solid black;
    padding-bottom: 2px;
}

ul{
    list-style: none;
}
.container{
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

.main-nav{
    display: flex;
    align-items: center;
    height: 60px;
    padding: 20px, 0;
    font-size: 13px;
}
.main-nav ul{
    display: flex;
}
.main-nav ul li{
    padding: 0 10px;
}
.mainMenu{
    flex: 1;
    margin-left: 20px;
}
.logo{
    
    height: 50px;
}
.btn{
    color:white;
    border: none;
    background-color: black;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 15px;
}
.btn:hover{
    opacity: 0.9;
}
.showcase{
    width: 100%;
    height: 400px;
    background: url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4C2lH?ver=03b4&q=60&m=6&h=600&w=1399&b=%23FFFFFFFF&l=f&o=t&aim=true)
    no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 20px;
    margin-bottom: 50px;
}
.showcase p{
    font-weight: 700;
}
.showcase h4 , .showcase p{
    margin-bottom: 10px;
}
.showcase .btn{
    margin-bottom: 20px;
}
.homecards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 40px;
}
.homecards div{
    margin: 5px;
    border: 1px solid rgb(218, 218, 218);
}
.homecards div h3{
    margin-left: 10px;
}
.homecards div p{
    margin-left: 10px;
}
.homecards div a{
    display: inline-block;
    padding-top:10px ;
    color: rgb(0, 98, 255);
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 10px;
}
.homecards a:hover i{
    margin-left: 10px;    
}

.xBox{
    height: 500px;
    width: 1158px;
    background: url(https://cdn.wallpapersafari.com/90/2/YCdWTJ.jpg) no-repeat center center/cover;
}
.content{
    width: 40%;
    padding: 50px 0 0 30px;
}
.content p{
    margin-bottom: 15px;
}
.OneDrive{
    height: 500px;
    width: 1158px;
    background: url(surface.jpg) no-repeat center center/cover;

}
.carbon{
    height: 500px;
    width: 1158px;
    background:url(Carbon.jpg) no-repeat center/cover;
}
.follow{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.followIcons{
    padding: 8px;
}
.links-inner{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin:0 auto ;
    padding: 0 20px ;
    align-items: flex-start;
    justify-content: center;
    gap: 53px;
}
.Links{
    width: 100%;
    background: rgb(233, 223, 223);
    padding: 35px 0;
}
.Links li{
    line-height: 2;
}
.footer-inner{
    display: flex;
    margin: 0 auto;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
}
.footer ul{
    display: flex;
    flex-wrap: wrap;
}
.footer li{
    margin-right: 30px;
    margin-top: 20px;
}
.footer{
    align-items: center;
    margin-top: 20px;
}



@media(max-width:700px){
    .homecards{
        grid-template-columns: repeat(2,1fr);
    }
    .links-inner{
        grid-template-columns: repeat(2,1fr);

    }
}