@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600&family=Rubik:wght@300;600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

a{
    color: #fff;
    text-decoration: none;
}

a:hover{
    color: rgb(12, 151, 65);
}

ul{
    list-style-type: none;
}

img{
    width: 100%;
}

html, body{
    font-family: 'Rubik', sans-serif;
    background: black;
    color: white;
    line-height: 1.7;
    overflow-x: hidden;
}

.header{
    height: 530px;
    background: url(../img/header.jpg)
    no-repeat center center / cover;
}
.logo {
    width: 270px;
    margin: 20px 0;
  }
nav{
    float: right;
    padding: 20px 40px;
}
.login_btn{
    border: none;
    font-weight: 800;
    background:none;
    color: honeydew;
    cursor: pointer;
    font-size: 2vh;
    letter-spacing: 1px;
}
.header_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 60px;
}
.header_content h4{
    color:rgb(65, 211, 114);
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 600;
}
.hc1{
    font-weight: bold;
}
.hc2{
    margin-top: 10px;
}
.trial-btn{
    display: inline-block;
    min-width: 135px;
    padding: 20px 32px;
    font-weight: 600;
    font-size: 15px;
    line-height: 14px;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
    margin-top: 20px;
}
.trial-btn:hover{
    opacity: 0.8;
}
.hc3{
    font-size:10px;
    margin-top: 20px;
}
.subHeader{
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    gap: 40px;
    align-items: center;
    padding: 30px 40px;
    background: linear-gradient(318.68deg,
                #0f495c 0%,
                #0d3940 49.72%,
                #08141f 100%
    );
}
h3{
    font-size: 26px;
    font-weight: 300;
    text-transform: uppercase;
}
.subLink{
    font-size: 12px;
    color: #ccc;
    display: block;
    margin-top: 5px;
    text-decoration: underline;
}
.btn-outline{
    background: none;
    color: white;
    padding: 10px;
    width: 130px;
    letter-spacing: 1px;
    border-color: white;
    max-width: 150px;
    font-weight: bolder;
    border-radius:5px ;
}
.btn-outline:hover{
    border-color: gray;
}
/*Media Queries*/
@media(max-width:768px){
    .header .logo{
        width: 200px;
    }
     .header .hc1 .hc2 .hc3 .trial-btn {
        text-align: center;
        padding: 0 20px;
    }
    .subHeader{
        grid-template-columns: 1fr;
    }
}
