@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600&family=Rubik:wght@300;600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

a{
    color: #fff;
    text-decoration: none;
}

a:hover{
    color: rgb(12, 151, 65);
}

ul{
    list-style-type: none;
}

img{
    width: 100%;
}

html, body{
    font-family: 'Rubik', sans-serif;
    background: black;
    color: white;
    line-height: 1.7;
    overflow-x: hidden;
}

.header{
    height: 530px;
    background: url(../img/header.jpg)
    no-repeat center center / cover;
}
.logo {
    width: 270px;
    margin: 20px 0;
  }
nav{
    float: right;
    padding: 20px 40px;
}
.login_btn{
    border: none;
    font-weight: 800;
    background:none;
    color: honeydew;
    cursor: pointer;
    font-size: 2vh;
    letter-spacing: 1px;
}
.header_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 60px;
}
.header_content h4{
    color:rgb(65, 211, 114);
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 600;
}
.hc1{
    font-weight: bold;

}
.hc2{
    margin-top: 10px;
}
.trial-btn{
    width: 200px;
    height: 40px;
    margin-top:20px;
    font-weight: 500;
}
.hc3{
    font-size:10px;
    margin-top: 10px;
}